.mobileSearch{
  display: none!important;
  width: 100%;
  padding: 0px 10px;
}
.mobileMenu{
  display: none!important;
}
/* Navigation.module.css */

.activeNavigation{
  padding: 10px;
  background: #F9A8D4;
  position: sticky;
  top: 0;
}
.meghaMenu {
  position: fixed;
  top: 100px;
  background: #F9A8D4;
  padding: 10px 0px;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0; /* Ensures it stays centered */
}
.subul{
  margin: 0 auto;
}
.subul li {
  transition: 0.3s ease-in;
}
.subul li:hover  {
  transition: 0.3s ease-in;
  margin-left: 10px;
}
.shopSubmenu {
  /* position: relative;  */
  z-index: 0; /* Ensure .shopSubmenu has a lower z-index */
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  transition: background-color 0.3s ease;
}

.activeNavigation {
  background-color:rgba(255, 192, 203, 0.623);
  animation: slideDown 0.5s ease forwards, fadeIn 0.5s ease forwards;
}






.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.imageContainer:hover .hiddenContent {
  opacity: 1;
  transform: translateY(-30px);
}

.imageContainer:hover img {
  transition: all 0.4s ease-in;
  filter: blur(4px); 
}

.content {
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0; 
  width: 100%;
  transform: translateY(-50%,-50%);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.meghaMenu {
  position: fixed;
  background-color: white; /* Example background color */
  padding: 10px;
  opacity: 0; /* Initially hide .meghaMenu */
  transform: translateY(10px); /* Initial transformation to hide off-screen */
  z-index: 1; /* Higher z-index to bring .meghaMenu above other content */
  transition: opacity 0.4s ease-in, transform 0.4s ease-in; /* Apply transition to opacity and transform */
  visibility: hidden; /* Hide but still take up space */
}

.singleShopSubmenu:hover .meghaMenu {
  opacity: 1; /* Show .meghaMenu on hover */
  transform: translateY(0); /* Slide .meghaMenu into view */
  visibility: visible; /* Make .meghaMenu visible */
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .search{
    display: none!important;
    
  }
  .mobileSearch{
    display: block!important;
    width: 100%;
    padding: 0px 10px;
  }
  .mobileMenu{
    display: block!important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .search{
    display: none!important;
  }
  .mobileSearch{
    display: block!important;
    width: 100%;
    padding: 0px 10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
 

}

/* x-large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    
}

/* Extra extra large devices (largest desktops, 1400px and up) */
@media (min-width: 1400px) {

}